<form class="cta__form" action="thanks.html">
    <input type="email" class="cta__form__input" placeholder="👋 Enter your email" required>
    </input>
    {% include 'button-primary' with type: 'submit', btnStyle: 'gradient', hasIcon: true %}
</form>