<header class="header{{headerClass}}">
    <div class="container">
        <div class="header__logo">
            <a href="#" title="Launch Wiki">
                <svg class="icon icon-logo">
                    <use xlink:href="#icon-logo"></use>
                </svg>
            </a>
            <div class="header-logo-name-wrapper">
                <a href="#" title="Launch Wiki" class="header__logo__name">Launch Wiki
                </a>
                <a href="#" class="header__logo__name mark{{markClass}}" title="Launch Kitty">by Launch Kitty</a>
            </div>
        </div>
    </div>
</header>