<a href="http://twitter.com/{{username}}" class="social__badge link" title="{{username}} twitter" target="blank">
    <svg class="icon icon-twitter social__badge__icon">
        <use xlink:href="#icon-twitter"></use>
    </svg>
    <p class="social__badge__link">{{username}}</p>
</a>